{% extends 'Default.html' %}

 {% block content %} 
 <h2 style="color:White; background:#2F4F4F;">About</h2>
 <h4>UNIVERSITY DEGREE | BSc Physics </h4> 
 <h4>ACADEMY STREAM | DEVOPS </h4>
 
<p>I am an enthusiastic, competent individual that jumps at the opportunity to apply myself and learn. Throughout the academy I thrived in agile team environments; managed fundraising for the companies Movember campaign; and placed 3rd in the company in the bot programming competition. My attention to detail and time management were evident in the projects that were delivered to a high standard.
My communication skills, proven in my role as university rugby captain and tutoring work, paired with my technical skills from my physics degree, would make me a great addition to any tech company.</p>

<h5>SKILLS</h5>
<p><b><i>
  <div class="row">
	<div class="column"></div>
		- Interpersonal skills <br>
		- Time and task management<br>
		- Analytical and strategic thinker&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
		- Teamwork<br>
		- Problem solving skills<br>
		- Initiative<br>
	<div class="column"></di>
		- Python<br>
		- SQL<br>
		- AWS<br>
		- Jenkins<br>
		- Ansible<br>
		- Packer<br>
		- Terraform<br>
		- Docker<br></i></b></p>
  </div>

 {% endblock %}