{% extends 'Default.html' %}

 {% block content %} 
 <h2 style="color:White; background:#2F4F4F;">Education</h2>

<h4>University of bath &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>2016-2020</i></h4>
<h4>BSc (hons) physics with year Abroad - 2:1</h4>

<p><b>1st Year:</b><br>
Mathematical methods 1, Experimental Physics and Computing 1, Properties of Matter, Electric Circuits, Classical Mechanics, Vibrations Waves & Optics, Intro to Quantum Physics, Electricity and Magnetism, Relativity & Astrophysics.</p>

<p><b>2nd Year:</b> <br>
Mathematical methods 2, Experimental Physics and Computing 2, Quantum & Atomic Physics, Particles Nuclei & Stars, Thermal Physics, Electromagnetism 1, Condensed Matter 1, Planets and Exoplanets.</p>

<p><b>3rd Year:</b><br>
Computational Physics, Electromagnetic theory, Fluid mechanics, Thermal physics, Optics and Electromagnetic waves, Experimental Physics, Phys&Chem of solids, Quantum Mechanics</p>

<p><b>Final Year:</b><br> 
Quantum Mechanics, Mathematical methods 4, Superconductivity, Medical Physics, Problem solving skills, Fluid dynamics in Physics & Astrophysics, Intro to Accounting, Lasers, Networks. </p>

<p><b>Final Project: 2:1</b><br>
<i>`Developing an affordable CO2 monitoring device for low-income country anaesthesia patients’</i>

Capnographs are essential for safe anaesthetic procedures but are currently highly expensive and have a lot of extra features. Our project was based around making a stripped down capnograph using an Infrared Emitter and a thermopile to plot the relative CO2 concentration in the intubation tube. A number of problems were faced when finding materials with an appropriate absorption spectra, comparing the IR emissions to blackbody spectrum and preventing the detector from over heating, all solved root cause analysis and compartmentalising each of the problems. Autodesk fusion was used to design the appropriate 3D housing for the emitter, thermopile, and PCB. </p>

<h4>St Georges School, Harpenden &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>2009-2016</i></h4>
<p><b>A-levels</b> : Maths <b>A*</b> Further Maths <b>A*</b> Physics <b>A*</b> Chemistry <b>A</b><br>
<b>As-levels</b> : Fine Art <b>A</b></p>
 {% endblock %}